* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos do formulário */
form {
    width: 300px;
    margin: 50px auto; /* Altere o valor da margem superior conforme necessário */
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px ;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    padding-bottom: 20px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
    
}

body > nav > div > div.bottom-content > li > a{
   
    margin-bottom: 50px;
}
.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}





.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}











.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 28px;
    width: 55px;
    background-color: var(--toggle-color);
    border-radius: 14px;
    cursor: pointer;
    transition: var(--tran-05);
}

.toggle-switch .switch:before {
    content: '';
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--sidebar-color);
    top: 2px;
    left: 2px;
    transition: var(--tran-05);
}

body.dark .toggle-switch .switch:before {
    transform: translateX(27px);
}

.toggle-switch .switch.dark {
    background-color: var(--primary-color);
}

.toggle-switch .switch.dark:before {
    transform: translateX(1px);
}

/* Adicione outras classes, estilos ou regras CSS conforme necessário */

.footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
}

.round-image {
    width: 50px; /* Defina a largura desejada para a imagem */
    height: 50px; /* Defina a altura desejada para a imagem */
    border-radius: 50%; /* Aplica uma borda redonda com raio de 50% */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites da imagem */
  }
  
  .text{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-emphasis-color: black;
    font-size: 24px;
  }

  .back-button {
    background-color: #695CFE;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #4C46B8;
  }

  .principal {
    text-align: center;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .text-principal{    
    padding: 50px;
    text-align: justify; 
    max-width: 800px;
    margin: 0 auto;    
  }

  .element.style{
    margin: 100px;
  }

  .style {
    padding-top: 110px;
    margin: 100px;
}