*{
    font-family: 'Poppins', sans-serif;
}
/* Responsividade até 414 pixels */
@media (max-width: 414px) {
    /* Insira aqui as regras de estilo para telas até 414 pixels */
  }
  
  /* Responsividade até 768 pixels */
  @media (min-width: 415px) and (max-width: 768px) {
    /* Insira aqui as regras de estilo para telas entre 415 e 768 pixels */
  }
  
  /* Responsividade acima de 768 pixels */
  @media (min-width: 769px) {
    /* Insira aqui as regras de estilo para telas acima de 768 pixels */
  }
  
  /* Adicionar cor verde para palavras verdadeiras (palíndromos) */
  .text-success {
    color: green;
  }
  
  /* Adicionar cor vermelha para palavras falsas (não palíndromos) */
  .text-danger {
    color: red;
  }
  

  .footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
}

.back-button {
  background-color: #695CFE;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
margin: 10px;
}

/* Estilos do botão de download */
h3{
  text-align: center;
}
.cvwill {
  text-decoration: none;
  text-align: center;
}

.download-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #695CFE;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #4C46B8;
}
