*{
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f0f0f0;
  }
  
  .container {
    padding: 20px;
  }
  
  @media screen and (max-width: 414px) {
    /* Estilos para telas até 414 pixels */
  }
  
  @media screen and (min-width: 415px) and (max-width: 768px) {
    /* Estilos para telas entre 415 pixels e 768 pixels */
  }
  
  @media screen and (min-width: 769px) {
    /* Estilos para telas acima de 768 pixels */
  }
  
  .vowel {
    color: red;
  }
  
  .vowel-count {
    color: purple;
    font-weight: bold;
    margin-left: 5px;
  }
  

  .footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
}

.back-button {
  background-color: #695CFE;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px;
  margin-bottom: 20px;
}

/* Estilos do botão de download */
h3{
  text-align: center;
}
.cvwill {
  text-decoration: none;
  text-align: center;
}

.download-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #695CFE;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #4C46B8;
}
