/* Estilo padrão para telas acima de 768 pixels */
.back-button {
  background-color: #695CFE;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: -559px;
  margin-top: -900px;
  
}
body {
  
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-container label {
    margin-right: 10px;
  }
  
  .input-container input {
    width: 100px;
  }
  
  .input-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #checkBtn {
    background-color: #4CAF50; /* Cor verde para o botão "Verificar" */
    color: #fff;
  }
  
  #historyBtn {
    background-color: #f16a6a; /* Cor vermelha para o botão "Histórico" */
    color: #fff;
  }
  
  #checkBtn:hover, #historyBtn:hover {
    background-color: #45a049; /* Cor verde mais escura ao passar o mouse no botão "Verificar" */
  }
  
  #result, #history {
    text-align: center;
  }

  /* Espaço entre os elementos */
#numberToCheck, #checkBtn, #historyBtn {
    margin: 5px;
  }
  label{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;  }
  
  /* Responsividade para telas de até 768 pixels */
  @media screen and (max-width: 768px) {
    
    body {
      padding: 10px;
    }
  
    .input-container {
      flex-direction: column;
    }
  
    .input-container label {
      margin-bottom: 10px;
    }
  
    .input-container input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .input-container button {
      margin: 0;
    }
  }
  
  /* Responsividade para telas de até 414 pixels */
  @media screen and (max-width: 414px) {
    .back-button {
      display: block; /* Mostra o botão em telas menores ou iguais a 414 pixels */
      /* Estilos para o botão de retorno em telas de 414 pixels */
      /* Adicione os estilos desejados para o botão de retorno aqui */
      /* Por exemplo: */
      background-color: #695CFE;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 50px;
      cursor: pointer;
     
    }

    .input-container input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .input-container button {
      width: 100%;
      margin: 0;
    }
  
    #result, #history {
      font-size: 14px;
    }
    
  }
  
  /* Estilo da tabela de histórico */
  #historyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #historyTable th,
  #historyTable td {
    padding: 8px;
    text-align: center;
  }
  
  #historyTable th {
    background-color: #f1f1f1; /* Cor de fundo cinza para o cabeçalho da tabela */
  }
  
  #historyTable tr:nth-child(even) {
    background-color: #f9d3b7; /* Cor de fundo laranja para linhas pares */
  }
  
  #historyTable tr:nth-child(odd) {
    background-color: #fff; /* Cor de fundo branca para linhas ímpares */
  }
  

  .footer-content{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
}

